extends base.jade
append scripts
	script(src='../javascripts/admin.js')
append body
	// The fixed navigation bar
	include navbar.jade
	script.
		$('#admin').addClass("active");
	.container
		.row 
			.col-sm-12
				h2 All Users
				#userList
					table(class="table table-striped")
						thead
							tr
								th Email
								th Guid
								th Delete?
						tbody
							
					