append styles
    // Bootstrap theme
    +bootswatch("cerulean")
    // Custom styles for this template
    link(href='../css/theme.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../css/navbar-fixed-top.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    // Custom Fonts
    link(href="vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800',
        rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic',
        rel='stylesheet', type='text/css')

    // Plugin CSS
    link(href="/call/vendor/magnific-popup/magnific-popup.css", rel="stylesheet")
    // Theme CSS
    link(href="/call/less/creative.css", rel="stylesheet")
append scripts
    script(src="/call/vendor/scrollreveal/scrollreveal.min.js")
    script(src="/call/vendor/magnific-popup/jquery.magnific-popup.min.js")

    // Theme JavaScript
    script(src="/call/js/creative.min.js")
    // Rethink JS Files
    script(src="/call/clientBootStrap.js")
    script(src="/call/WebRTCHypertyClient.js")
 
append body
    nav#mainNav
            div.hide
                form#settings.form-horizontal.settings(role="form")
                    div.darktext.form-group
                        label.col-sm-1.control-label Stun
                        div.col-sm-4
                            input#stun.form-control(value="stun.l.google.com:19302", placeholder="stun")
                        label.col-sm-1.control-label Turn
                        div.col-sm-4
                            input#turn.form-control(value="", size="20", placeholder="turn url")
                        label use strict
                            input#strictice(type="checkbox") 

                    div.darktext.form-group
                        label.col-sm-1.control-label user
                            div.col-sm-4
                                input#turn_user.form-control(value="", size="10", placeholder="")
                        label.col-sm-1.control-label pass
                            div.col-sm-4 
                                input#turn_pass.form-control(value="", size="10", type="password")

                    div.darktext.form-group 
                        div.col-sm-6 
                        div.col-sm-2 
                            button#saveConfig.btn.btn-default.btn-sm(type="submit") Save profile
  section#callSection
        script.
            function callHyperty(uid, dom)
            {
                if (!RUNTIME)
                {
                    // Load the runtime
                    registerDomain().then(function(result)
                    {
                        // if successful load hyperty Connector
                        loadHypertyConnector().then(function(){
                            proceedCall(uid, dom);
                        });
                        
                    }).catch(function(err)
                    {
                            console.log(err);
                    });
                }
                else
                {
                    proceedCall(uid, dom);
                }
            }
        // Begin page content
    div.main-content.container 
        div.row 
        div#content.content.col-sm-12 
            div#info 
            div.hyperty-panel 
            div.send-panel 
            div.invitation-panel 
            
            div#video.row.hide 
            div.video-holder.col-lg-12 
                video#remoteVideo.smallVideo.video.responsive-video(autoplay, poster="img/header.gif")
                video#localVideo.fullVideo.my-video.responsive-video(muted, autoplay, poster="img/header.gif")
            div.col-sm-2 
            fieldset.form-fieldset 
                legend local media
                div.form-checkbox-set 
                    label video
                        input#local-video.form-checkbox(type="checkbox", value="1", checked) 
                
                div.form-checkbox-set 
                    label audio
                        input#local-audio.form-checkbox(type="checkbox", value="1", checked) 
                
            fieldset.form-fieldset 
                legend remote media
                div.form-checkbox-set 
                    label video
                        input#remote-video.form-checkbox(type="checkbox", value="1", checked) 
                
                div.form-checkbox-set 
                    label audio
                        input#remote-audio.form-checkbox(type="checkbox", value="1", checked)
                
                button#hangup.btn.btn-default.btn-sm hangup
 
    // Modal Structure
    div.modal.hide.fade#AcceptCall 
        div.modal-dialog.modal-lg.modal-content 
            h4 Call Incoming From
            div.information.row#modalinfo 
                div.valign-wrapper 
                    div.col-lg-4 
                        img#avatar.col-lg-12.circle(src="" alt="") 
                    
                    div.col-lg-8 
                        div.col-lg-12 
                            span.text-right Name:
                            span.black-text#calleeName
                        
                        div.col-lg-12 
                            span.text-right Email:
                            span.black-text#calleeUsername
                        
                        div.col-lg-12 
                            span.text-right Locale:
                            span.black-text#calleLocale
                        
                        div.col-lg-12 
                            span.text-right UserURL:
                            span.black-text#calleUserURL
                        
         div.modal-footer 
            button#btn-reject.modal-action.modal-close.waves-effect.waves-green.btn-reject.btn(type="button", data-dismiss="modal") Reject
            button#btn-accept.modal-action.modal-close.waves-effect.waves-green.btn-accept.btn(type="button", data-dismiss="modal") Accept
