extends base.jade
append scripts
    script(src='../javascripts/authConnect.js')
    script(src='../javascripts/lib/wid_api.js')
append body
    div.container.text-center
        div.col-sm-2
            img(class="logo" src="rethink.png") 
        div.col-sm-8
            h1 Contact Management
        div.col-sm-4.col-sm-offset-4.loginContainer    
            a(class="btn btn-default loginbtn btn-lg authConnect" href="#" onclick="authConnect();")
                img(src="icon64.png") 
                span Connect
            h3.text-center.loginInfo Or use your account
            
            form(action="/login" method="POST")
                div.form-group
                    label Email
                    input.form-control(type='email', name="email", placeholder='Email address', required='true', autofocus='')
                div.form-group
                    label Password
                    input.form-control(type='password',name="password", placeholder='Password', required='true', autofocus='')
                button(type="submit" class="btn btn-warning") Login
            hr 
            p 
                a.register(href="/signup") Register 