body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: inherit;    
}

a {
  color: #00B7FF;
}

#rethink {
  display: none !important;
}

.modal-body {
  overflow: hidden;
}


.videoSection video{
    background-color: black;
    top: 10px;
    right: 10px;
    &.video {
        width: 80%;
    } 
    &.my-video {
        width: 10%;
        height: 80px;
    } 
}
#login{
    @media (min-width: 768px) {
        .modal-dialog {
            width: 470px;
        }
    }
    #AcceptLogin {
        width: 100%;
    }
    input {
        margin-bottom: 15px;
    }
    a{
        &:hover{
            cursor: pointer;
        }

    }
}

#loginlogout {
    position: absolute;
    right: 0;
     @media (max-width: 768px) {
        right: 65px;
        top: 0;
        a {
            line-height: 30px;
        }
    }
}

.loginbtn{
    width: 100%;
    img{
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}

video {
  max-width: 100%;
  width: 100%;
}

.logo{
    width: 160px;
}

.loginContainer{
    padding-top: 35px;
}

.loginInfo{
    padding: 35px;
    color: #555555;
}

.appInfo{
    padding-bottom: 5%;
    padding-top: 5%;
}